{% extends 'layouts/base.html'  %}

{% block content %}

    <h1>About</h1>
    <br>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias molestiae unde quisquam fuga voluptatibus exercitationem eius saepe recusandae aliquid distinctio, veritatis, quis eos aliquam at? Saepe quod ex dicta aliquam deserunt, est impedit non? Debitis itaque quis eius nesciunt, magnam magni sed reprehenderit incidunt, officia quas, id est? Corrupti, aperiam? Voluptas, necessitatibus magni odio consectetur voluptatibus cum, soluta tempore officia quod aliquid ut rem, facere aliquam nesciunt fugit iure ipsam atque vel ipsa ab quo tempora nemo? Adipisci obcaecati enim molestiae exercitationem. Facere iusto amet, odio facilis eveniet quae officia exercitationem, expedita tenetur vero quisquam earum impedit unde eum totam!</p>
    <p>Web site created by  {{username}}</p>
{% endblock %}